*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Unica One', cursive;
    letter-spacing: 2px;
}

h1{
    font-size: $big;
}

ul{
    list-style: none;
}

a{
    text-decoration:none;
}

