//Color Palette
$white: #ffffff;
$blue: #4776E6;
$violet: #8E54E9;
$black: #1c1c1c;
$cyan: #1dc9e3;
$blue-violet: #535bd4;
$grey: #999;

//Fonts
$big: 52px;
$medium-32: 32px;
$medium-26: 26px;
$medium-22: 22px;
$medium-20: 20px;
$medium-18: 18px;